<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.vcherkassky.easybtgps"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-permission android:name="android.permission.BLUETOOTH" />  
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />      
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />	
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> 
	
    <application android:icon="@drawable/icon" android:label="@string/app_name"
    	android:debuggable="true">
        <activity android:name="com.vcherkassky.easybtgps.SelectDeviceActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<service android:name="com.vcherkassky.easybtgps.LocationProviderService" >
            <intent-filter>
                <!-- These are the interfaces supported by the service, which
                     you can bind to. -->
                <action android:name="com.vcherkassky.easybtgps.ILocationProviderService" />
                <!-- This is an action code you can use to select the service
                     without explicitly supplying the implementation class. -->
                <action android:name="com.vcherkassky.easybtgps.BT_GPS_SERVICE" />
            </intent-filter>
		</service>
    </application>


</manifest> 